<%= render @category %>

<div>
  <% if @category.image.attached? %>
    <%= image_tag @category.image %>
  <% end %>
  <br>
  <%= link_to "Edit this category", edit_category_path(@category) %> |
  <%= link_to "Back to categories", categories_path %>
  <br>
  <%= button_to "Destroy this category", @category, method: :delete %>
  <%# <%= link_to  "Product detail",  product %> 
 
</div>
