<%= render @product %>

<div>
  <% if @product.image.attached? %>
    <%= image_tag @product.image %>
  <% end %>
  <br>
  <%= link_to "Edit this product", edit_product_path(@product) %> |
  <%= link_to "Back to products", categories_path %>

  <%= button_to "Destroy this product", @product, method: :delete %>
</div>
